body {
  -webkit-font-smoothing: antialiased;
}

.header {
  margin: 0;
  width: 100%;
  background: #64b5f6;
  height: 1000px;
}

.title-logo {
  font-family: 'Hammersmith One', sans-serif;
  color: white;
  font-size: 7em;
}